.box__wrap {
    padding-top: 160px;
}

.box__list {
    @include reset-list;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.box__list::before {
    position: absolute;
    top: 48px;
    right: 300px;
    z-index: -1;
    content: "";
    display: inline-block;
    width: 974px;
    height: 8px;
    background-color: $light-grey;
}

.box__list-item {
    max-width: 350px;
}

.box__item-title {
    font-family: Space Mono;
    font-style: normal;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -1.07143px;
    color: $dark-navy;
}

.box__item-text {
    font-family: Lexend Deca;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    color: $dim-grey;
}

@include breakpoint-down(1000px) {
    .box__wrap {
        padding-top: 60px;
    }

    .box__list::before {
        position: absolute;
        top: -100px;
        // right: 300px;
        left: 50px;
        z-index: -1;
        content: "";
        display: inline-block;
        width: 8px;
        height: 100%;
        background-color: $light-grey;
    }

    .box__list {
        flex-direction: column;
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }

    .box__list-item {
        display: flex;
        align-items: center;
        max-width: 500px;

        // flex-direction: column;
    }

    .box__item-info {
        max-width: 400px;
        margin-left: 10%;
    }
}

@include breakpoint-down(400px) {
    .box__list::before {
        display: none;
    }

    .box__list-item {
        flex-direction: column;
        text-align: center;
    }

    .box__item-info {
        margin-left: 0%;
    }

    .box__item-title {
        font-size: 20px;
        line-height: 28px;
    }

    .box__item-text {
        font-size: 15px;
        line-height: 25px;
    }
}