
.content-section {
    padding: 40px 0 170px 0;
    position: relative;
}

.content__list {
    @include reset-list;
}

.content__item {
    display: flex;
    align-items: center;
    margin-bottom: 155px;
}

.content__box {
    max-width: 445px;
    margin-right: 220px;
}

.content__title {
    font-family: 'Space Mono';
    font-weight: bold;
    max-width: 445px;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -2.14286px;
    color: $dark-navy;
}

.content__text {
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    color: $dim-grey;
    margin-bottom: 40px;
}

.content__btn {
    padding: 14px 44px;
}

.content__block {
    display: flex;
    position: relative;

    img {
        width: 445px;
        height: 445px;
        border-radius: 50%;
    }

    .content__circle {
        display: block;
        width: 445px;
        position: absolute;
        right: calc(50% - 720px);
        height: 445px;
        border-radius: 50%;
        background-color: $dim-grey;
    }
}

.content__item:nth-child(even) {
    flex-direction: row-reverse;

    .content__box {
        margin-right: 0;
        margin-left: 220px;
    }

    .content__block {
        .content__circle {
            right: calc(50% + 280px);
        }
    }
}

.arrow__one {
    position: absolute;
    left: calc(50% - 300px);
    top: 100px;
}

.arrow__two {
    position: absolute;
    left: calc(50% - 470px);
    top: -150px;
}

.arrow__three {
    position: absolute;
    left: calc(50% + 90px);
    top: -100px;
}

@include breakpoint-down(1000px) {
    .content-section {
        padding: 40px 0 104px 0;
        position: relative;
    }

    .content__item {
        flex-direction: column-reverse;
    }

    .content__box {
        max-width: 445px;
        margin-right: 0;
        text-align: center;
    }

    .content__block {
        padding-top: 10px;
        display: flex;
        position: relative;
        overflow-x: hidden;
        overflow-y: hidden;
        width: 100%;
        height: 100%;

        img {
            width: 445px;
            height: 445px;
            border-radius: 50%;
            margin-left: auto;
            margin-right: auto;
        }

        .content__circle {
            position: absolute;
            right: calc(50% - 720px);
        }
    }

    .content__item:nth-child(2n) {
        flex-direction: column-reverse;
        position: relative;

        .content__box {
            margin-right: 0;
            margin-left: 0;
        }

        .content__block {
            .content__circle {
                right: calc(50% + 280px);
            }
        }
    }

    .arrow__one {
        position: absolute;
        left: calc(50% - 300px);
        top: 150px;
    }

    .arrow__two {
        position: absolute;
        left: calc(50% - 470px);
        top: -150px;
    }

    .arrow__three {
        position: absolute;
        left: calc(50% - 90px);
        top: -100px;
    }
}

@include breakpoint-down(625px) {
    .content-section {
        padding: 0px 0 104px 0;
        position: relative;
    }

    .content__item {
        flex-direction: column-reverse;
    }

    .content__box {
        max-width: 311px;
        margin-right: 0;
        text-align: center;
    }

    .content__title {
        font-size: 32px;
        line-height: 32px;
        letter-spacing: -1.42857px;
    }

    .content__text {
        font-size: 15px;
        line-height: 25px;
    }

    .content__block {
        position: relative;
        overflow-x: visible;
        overflow-y: visible;
        padding-top: 10px;
        display: flex;
        width: 100%;
        height: 100%;

        img {
            margin-left: auto;
            margin-right: auto;
            width: 190px;
            height: 190px;
            border-radius: 50%;
        }

        .content__circle {
            display: none;
        }
    }

    .content__item:nth-child(2n) {
        flex-direction: column-reverse;
        position: relative;

        .content__box {
            margin-right: 0;
            margin-left: 0;
        }

        .content__block {
            .content__circle {
                display: none;
            }
        }
    }

    .arrow__one {
        position: absolute;
        left: calc(50% - 80px);
        top: 80px;
    }

    .arrow__two {
        position: absolute;
        left: calc(50% - 180px);
        top: -50px;
    }

    .arrow__three {
        position: absolute;
        left: calc(50% - 20px);
        top: -20px;
    }
}

@include breakpoint-down(340px) {
    .content-section {

        img {
            width: 175px;
            height: 175px;
        }
    }
}

@include breakpoint-down(325px) {
    .content__block {

        img {
            width: 165px;
            height: 165px;
        }
    }
}